*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif
}

body {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 2rem;
  text-align: center;
}

.question {
  margin: 3rem 0;

  label {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
}

.result {
  text-align: center;
  color: red;

}

button {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 0;
  font-size: 1.2rem;
  background-color: #4364ce;
  color: white;
  text-transform: uppercase;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: darken(#4364ce, 10%);
  }
}

